:root {
    --letter-width: 8.5in;
    --letter-height: 11in;
}

/* Hide section dropdown */
details > summary {
    cursor: default;
    list-style: none;
}

ul {
    margin-bottom: 0.8rem;
}

p {
    margin-bottom: 0rem;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    color: teal;
}

.bg-teal {
    background-color: #e6ebeb
}

section h2 {
    color: teal;
    background-color: #e6ebeb;
    border-bottom: 2px solid black;
    margin-top: 1rem;
}

@media print {
    @page {
        size: letter portrait;
    }

    html, body {
        -webkit-print-color-adjust: exact !important; /* Chrome */
        color-adjust: exact;  /* Firefox */

        width: var(--letter-width);
        height: var(--letter-height);
        margin: 0;
        font-size: 90%;
    }
}

@media screen {
    html {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
        font-size: 80%;
    }

    main {
        margin-top: 3rem;
    }

    .page {
        width: var(--letter-width);
        height: var(--letter-height);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
}