/* @page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
      width: 210mm;
      height: 297mm;
    }
} */

html {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    font-size: 80%;
}

/* Hide section dropdown */
summary {
    display: block;
}

.page {
    width: 21cm;
    height: 29.7cm;
}

section h2 {
    border-bottom: 2px solid black;
}